

div {
width: 400px; 
height: 100px;
color:#ffffff;
}


PT_express_checkout {
width: 400px; 
height: 10px;
color:#ffffff;
}


style {
width: 400px; 
height: 10px;
color:#ffffff;
}

custom {
width: 400px; 
height: 10px;
color:#ffffff;
}

